.env
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
data/raw/*
data/processed/*
data/splits/*
data/checkpoints/*
!data/*/.gitkeep
logs/
reports/
merged_model/
quantized/
*.gguf
*.safetensors
*.bin
wandb/